In [9]:
import numpy as np
import pandas as pd

df = pd.read_csv('House-Prices.csv')

In [11]:
corr_matrix = df.corr(numeric_only=True)
# выбираем верхний треугольник матрицы
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))

# признаки, у которых корреляция > 0.9
to_drop = [column for column in upper.columns if any(abs(upper[column]) > 0.9)]

print("Удаляем признаки:", to_drop)

df_clean = df.drop(columns=to_drop)

Удаляем признаки: ['dist2', 'dist3', 'dist4', 'parks']

In [19]:
cat_cols = ['airport', 'waterbody', 'bus_ter']

df_encoded = pd.get_dummies(df_clean, columns=cat_cols, drop_first=True)

df_encoded.head()

,price,resid_area,air_qual,room_num,age,dist1,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,Sold,airport_YES,waterbody_Lake and River,waterbody_River
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,5.480,11.1920,23,0,True,False,True
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,7.332,12.1728,42,1,False,False,False
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,7.394,101.1200,38,0,False,False,False
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,9.268,11.2672,45,0,True,False,False
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,8.824,11.2896,55,0,False,False,False

In [20]:
df['waterbody'].unique()

array(['River', 'Lake', nan, 'Lake and River'], dtype=object)

In [21]:
df['bus_ter'].value_counts()

bus_ter
YES    506
Name: count, dtype: int64